<ion-content padding id="page13" class="back-image">
  <form *ngIf="hidethisform" [formGroup]="formgroup1" id="register-form3" #registrationForm="ngForm" (ngSubmit)="OnRequestOTP()">
    <div class="spacer" style="width:300px;height:217px;" id="register-spacer10"></div>
    <h5 id="register-heading1" style="color:#DEE1EE;">
      Please Enter your Mobile No.
    </h5>
    <ion-list id="register-list11">
      <ion-item id="register-input8">
        <ion-label>
          Phone Number
        </ion-label>
        <ion-input formControlName="MobileNo" type="number" placeholder=""></ion-input>
      </ion-item>
      <!-- <p style="color:black;" *ngIf="mobilenum.hasError('required') && mobilenum.touched">*MobileNumber is required</p> -->
      <p style="color:darkorange">{{MobileNo_Message}}</p>
    </ion-list>
    <button [disabled]="registrationForm.invalid" id="register-button7" ion-button color="positive" block>
      Get OTP
    </button>
  </form>


<form *ngIf="isForgotPassword" [formGroup]="formgroup2" id="register-form4" #AskingMobNoForOTPForm="ngForm" (ngSubmit)="OnMobNo()">
  <div class="spacer" style="width:300px;height:217px;" id="register-spacer10"></div>
  <h5 id="register-heading1" style="color:#DEE1EE;">
    Enter Registered Mobile Number
  </h5>
  <ion-list id="register-list11">
    <ion-item id="register-input8">
      <ion-label>
        Phone Number
      </ion-label>
      <ion-input [(ngModel)]="MobileNo" formControlName="mobilenumforOTP" type="number" placeholder="Registered Mobile No."></ion-input>
    </ion-item>
    <p style="color:darkorange">{{mobilenumforOTP_Message}}</p>

  </ion-list>
  <button [disabled]="AskingMobNoForOTPForm.invalid" id="register-button7" ion-button color="positive" block>
    Confirm to Send OTP
  </button>
</form>
</ion-content>